{% extends 'Fourier/base.html' %}
{% block content %}
<script>
	$( document ).ready(function() {
		mostrar();
		HideD();

		$("#btnGetFile").click(function() {
			debugger;
		  $( "#getFile" ).submit();
		}); 
	}); 
</script>
		<div class="container">
			<div class="content">
			<!-- botones  primarios -->
				<div id="botones">
					<button class="button button--itzel button--text-thick" class="button" id="c" class = "c" onclick="HideD()" style="vertical-align:middle"> <i class="button__icon">	<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM8.9 6c0-1.71 1.39-3.1 3.1-3.1s3.1 1.39 3.1 3.1v2H8.9V6zM18 20H6V10h12v10z"/></svg>								</i><span style="  font-family: 'Poppins', sans-serif; font-size: 185%; ">Encriptar</span> 
				</div> 
		  		<!-- las dos cajas contenedoras -->
				<div class="box code" id="codeT" class="codeT"> 
					<div> 
						<button class="convertir ver" onclick=" window.history.back();" id="encrypt" >Encriptar Otro Archivo</button>
					</div>

					<div id='oculto' style=" display: none;">
						<form>
	        				<textarea placeholder="Este es tu codigo..." id="copy" style="font-size:0.6em!important">{{base64}}</textarea>
	        			</form>
						<!--button onclick="copiarAlPortapapeles('copy')" class="convertir copiar">Copiar codigo</button-->

						<button id="btnGetFile" class="convertir copiar" type="submit">Obtener base64</button>

						<form action ="/getFile" id="getFile" name="getFile" method="get">
							<input type="text" name="file" id="file" value="{{file}}" style="display:none;"/>
						</form>

					</div>
				</div>
		</div>
	</div> <!-- --> 
{% endblock content %}